<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div>
        <input value="" type="text" placeholder="name"/> <br> <br>
        <input value="" type="text" placeholder="description"/> <br> <br>
        <select name="datapoint" id="datapoint">
            <option value="Amount">Amount</option>
            <option value="DateTimeCreated">DateTimeCreated</option>
        </select>
        <select name="conditional" id="conditional">
            <option value="GreaterThan">GreaterThan</option>
            <option value="LesserThan">LesserThan</option>
        </select>
        <select name="expression" id="expression">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <input value="" type="text"/>
    </div>
</body>

</html>